.jumbotron{
   background-color: #5D5D5D;
   margin-top: 50px;
   color: white;
}

.btn{

  color: #F7F7F7;
}
footer{
  background-color: #5d5d5d;
  color: white;
  padding : 10px 10px 0px 10px;
  margin-bottom: 0px;
  margin-top: 5px;

}
#titulo{
 padding: 0px 0px 20px 0px;
}
h2{
  text-align: center;
  padding: 20px 0px 20px 0px ;
}
.card-portafolio{
  flex: 1 350px;
  padding: 2px 10px 5px 10px;
  text-align: center;
  margin-top: 10px;
}
.btn-conocer{
  width: 20%;
  border-radius:15px;
}
.footer-icon{
  padding-right: 20px;
}
.social{
  padding: 0px 0px 0px 20px;
}
.about-inicio{
  padding-top: 60px;
}
.card-about{
  flex: 1 250px;
  padding: 2px 20px 5px 10px;
  text-align:justify;
}
.card-footer {
  flex: 1 250px;
  flex-direction: column;
}
.social{
  padding-top: 50px;
}
.location{
  padding-right: 350px;
}
.card{
  border-radius:30px;
  margin-right: 10px;
  margin-left: 10px;
}
